<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}">

</head>
<body>
<div th:insert="~{layout :: header}"></div>
<br>



<div class="container" >

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">

                        <div class="col-md-8">
                            <h5><strong>Liste des Stocks en fonction des projets et produits.</strong></h5>
                        </div>

                        <div class="col-md-4 page-action text-right">
                            <a th:href="@{/admin/stocks/new}" class="btn btn-sm btn-success pull-right"> <i class="material-icons">open_in_new</i> <b>Nouveau Produit</b></a>
                        </div>
                    </div>
                </div>



                <div class="card-body">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-sm" id="index-client">
                                <thead>
                                <tr>
                                    <!--<th class="text-center">Id</th>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Supprimer</th>-->
                                    <!--<th class="text-center">Supprimer</th>-->

                                </tr>
                                </thead>
                                <tbody>

                                <!--<tr th:each = "c:${listClients}">
                                    <td th:text = "${c.client_id}" class="text-center"></td>
                                    <td th:text = "${c.client_nom}" class="text-center"></td>
                                    &lt;!&ndash;<td><a th:href="@{editClient(id=${c.client_id})}"></a></td>&ndash;&gt;
                                    <td><a th:href="@{clients/delete(id=${c.client_id})}">Supprimer</a></td>-->

                                </tr>

                                </tbody>
                                <tfoot>

                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>