<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}">

</head>
<body>
<div th:insert="~{layout :: header}"></div>
<br>

<div class="container">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3><span class="badge badge-info">Editer</span> <span th:text ="${produit.produit_nom}" class="badge badge-secondary"></span></h3>
                </div>

                <div class="col-md-4 page-action text-right">
                    <a th:href="@{/admin/produits}" class="btn btn-default btn-sm"> <i class="material-icons">backspace</i> Retour</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <form th:action="@{/admin/produits/save}" method="post">

                                    <!-- Nom Client Form Input -->
                                    <!--<div class="form-group row">
                                        <label for="client_id" class="col-sm-4 col-form-label text-md-right"><strong>Nom</strong></label>

                                        <div class="col-md-6">
                                            <input id="client_id" type="text" class="form-control" name="name" th:value="${client.client_id}" readonly autofocus>
                                        </div>
                                    </div>-->
                                    <input th:field="${produit.produit_id}" type="hidden"/>
                                    <!-- Nom Produit Form Input -->
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-4 col-form-label text-md-right"><strong>Nom</strong></label>

                                        <div class="col-md-6">
                                            <input id="name" type="text" class="form-control" name="name" th:field="${produit.produit_nom}"  autofocus>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="contact" class="col-sm-4 col-form-label text-md-right"><strong></strong></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary">Enregister</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>